$colorFontLessDark: rgb(252, 146, 197);
$colorFontDark: rgb(148, 5, 148);
$colorFontDarker: rgb(135, 21, 124);
$colorFontLight: rgb(255, 255, 255);
$colorFontLighter: rgb(255, 215, 0);

$colorBackgroundBlack: rgb(170, 22, 160);
$colorBackgroundBlacker: rgb(202, 198, 198);
$colorBackgroundDark: rgb(253, 87, 151);
$colorBackgroundDarker: rgb(0, 204, 0);
$colorBackgroundVeryDark: rgb(113, 112, 112);
$colorBackgroundLight: rgb(254, 233, 242);
$colorBackgroundLighter: rgb(250, 216, 233);
$colorBackgroundDisabled: rgb(192, 192, 192);
$colorBackgroundDanger: rgb(253, 166, 218);
$colorBackgroundVeryDanger: rgb(253, 32, 32);

$colorFontDanger: rgb(253, 166, 218);

$colorBorderLessDark: rgb(251, 87, 183);
$colorBorderDark: rgb(131, 113, 13);
$colorBorderDarker: rgb(192, 192, 192);
$colorBorderLight: rgb(253, 241, 247);
$colorBorderLighter: rgb(255, 255, 255);
$colorBorderDisabled: rgb(252, 51, 151);
$colorBorderDanger: rgb(128, 128, 128);


$fontSizeXL: 1.5rem;
$fontSizeLG: 1.2rem;
$fontSizeMD: 1rem;
$fontSizeSM: 0.875rem;
$fontSizeXS: 0.75rem;

$widthContent: 90vw;